<launch>
    <node name="ros4rsb" pkg="ros4rsb" type="ros4rsb" output="screen" respawn="true" respawn_delay="5">
    
        <remap from="/pose" to="RosAria/pose"/>
        <remap from="/scan" to="/scan_merged"/>
        
        <rosparam file="$(find ros4rsb)/config/tobi_mobile_plugins.yaml" />
        
        <param name="isInterleavedLaserData" value="false" type="bool" /> 
	</node>
	
</launch>
